# Copie ce fichier en .env et remplis tes vraies valeurs
# NE JAMAIS commiter .env sur GitHub !

VITE_EMAILJS_SERVICE_ID=service_xxxxxxx
VITE_EMAILJS_TEMPLATE_ID=template_xxxxxxx
VITE_EMAILJS_PUBLIC_KEY=xxxxxxxxxxxxxxxxx
VITE_EMAILJS_TO_EMAIL=ton_email@gmail.com
